@model EventDto;

@{
    ViewBag.Title = "New Event Added";
    IEnumerable<EventDto> events = ViewBag.Towns ?? new List<EventDto>();
}

<div class="col-12 align-content-center alert alert-success alert-dismissible text-center">
    <a class="close" data-dismis="alert" aria-label="close"></a>
    <strong class=" text-lg-start">You have edited your event successfuly!</strong>
    <br />
    
</div>
    <div class="row mx-auto">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6 text-center">
            <div class="mb-3">
                <p class="font-weight-bold">Event: @Model.Name</p>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <p class="form-label font-weight-bold">Start: @Model.Start</p>
                <span asp-validation-for="Start" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <p asp-for="End" class="form-label font-weight-bold">End: @Model.End</p>
                <span asp-validation-for="End" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <p asp-for="End" class="form-label font-weight-bold">Place: @Model.StreetAddress</p>
                <span asp-validation-for="StreetAddress" class="text-danger"></span>
            </div>
        </div>
    <div class="mb-6 text-center">
    <a href="/Event" class="btn btn-primary">Ok</a>
    </div>
 
</div>

<hr />
<div class="text-center row">
    <table class="table">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Event</th>
                <th scope="col">Start</th>
                <th scope="col">End</th>
                <th scope="col">Place</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            @foreach (var item in ViewBag.Events)
            {
                <tr>
                    <th scope="row"></th>
                    <td>@item.Name</td>
                    <td>@item.Start</td>
                    <td>@item.End</td>
                    <td>@item.StreetAddress</td>
                    <td>
                        <div class="d-flex flex-row justify-content-around">
                            <a asp-controller="Event" asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a>
                            <a asp-controller="Event" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                            <form asp-controller="Event" asp-action="Delete" asp-route-id="@item.Id" method="Post">
                                <input type="submit" value="Delete" class="btn btn-primary" />
                            </form>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>